@import "tailwindcss";

/* Fuerza light mode y evita "auto dark" del navegador */
:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

/* Evita que Chrome Android "invierta" colores */
html, body {
  background: var(--background);
  color: var(--foreground);
}

/* Opcional: fuerza inputs a verse normales en móvil */
input, select, textarea, button {
  color: inherit;
  background-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
